body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 50px 0;
}

section {
    padding: 20px;
}

.project {
    margin-bottom: 20px;
}
.project img {
    max-width: 300px;
    display: block;
}
