* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Arial", sans-serif;
    background: #f5f5f5;
    color: #333;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 80px;
    background: white;
}

.logo {
    font-weight: bold;
    border: 2px solid #c18f59;
    padding: 5px 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #777;
    font-size: 14px;
    padding-bottom: 5px;
}

nav a.active,
nav a:hover {
    color: #c18f59;
    border-bottom: 2px solid #c18f59;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 80px;
}

.hero-text {
    max-width: 500px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: normal;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.hero-text h1 span {
    color: #c18f59;
    font-weight: bold;
}

.hero-text p {
    color: #777;
    margin-bottom: 30px;
    line-height: 1.6;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: #222;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

/* HERO IMAGE */
.hero-image img {
    width: 380px;
    border-radius: 5px;
    transform: translateX(-90px);
}
